# Godot 4+ specific ignores
.godot/
/android/

# C# build output
bin/
obj/
.vs/

# Editor backups
*.old

# Local HDRI skyboxes
Art/Skyboxes/*.hdr
Art/Skyboxes/*.hdr.import
Art/Skyboxes/*.exr
Art/Skyboxes/*.exr.import
